.about-us {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 320px 100px 350px;

  @media (max-width: $vp-1920) {
    padding: 60px 100px 100px;
  }

  @media (max-width: $vp-1024) {
    padding: 35px 46px 79px 77px;
  }

  @media (max-width: $vp-770) {
    padding: 25px 25px 77px;
  }

  img {
    height: 320px;
    margin-right: 100px;
    flex-basis: 12%;

    @media (max-width: $vp-1920) {
      margin-right: 20px;
    }

    @media (max-width: $vp-1024) {
      height: 320px;
      padding-top: 5px;
      margin-left: -30px;
      margin-right: 29px;
    }

    @media (max-width: $vp-770) {
      display: none;
    }
  }

  h2 {
    max-width: 970px;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 13px;

    @media (max-width: $vp-770) {
      font-size: 28px;
      line-height: 140.62%;
    }
  }

  p {
    max-width: 970px;
    font-family: $ff-ptmono;
    font-size: 16px;
    line-height: 22px;
    color: #041827;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;

    @media (max-width: $vp-1024) {
      margin-bottom: 17px;
    }

    @media (max-width: $vp-770) {
      font-size: 14px;
      line-height: 134.4%;
    }
  }
}

.about-us__open-desktop {
  display: none;
}

.about-us__open-mobile {
  display: inline;

  @media (max-width: $vp-770) {
    display: none;
  }
}

.about-us__mobile-invis {
  @media (max-width: $vp-770) {
    display: inline;
  }
}

.about-us__info-wrapper {
  flex-basis: 79%;

  @media (max-width: $vp-1280) {
    flex-basis: 77%;
  }

  @media (max-width: $vp-1024) {
    flex-basis: 76%;
  }

  @media (max-width: $vp-770) {
    flex-basis: 100%;
  }
}

.about-us button {
  min-width: 180px;
  font-size: 14px;
  line-height: 16px;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  background: #f8fdff;
  margin-top: 19px;

  @media (max-width: $vp-1024) {
    margin-top: 0;
  }

  @media (max-width: $vp-770) {
    min-width: 160px;
    padding: 11px 10px;
    margin-top: -6px;
  }

  &:active {
    background-color: #041827;
    border-radius: 3px;
  }
}
