.benefits {
  padding: 120px 348px 350px;
}

.benefits__list {
  display: grid;
  grid-template-columns: 595px 595px;
  column-gap: 31px;
  row-gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.benefits__item {
  border: 1px solid #ebebeb;
}

.benefits__item h2 {
  font-size: 24px;
  line-height: 140%;
  color: #00b2ff;
  margin-top: 0;
  margin-bottom: 15px;
}

.benefits__item p {
  font-size: 16px;
  line-height: 135%;
  color: #041827;
  margin: 0;
}
