
.body-lock {
  overflow-y: scroll;
  position: fixed;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: none;
  align-items: center;
  justify-content: center;

  background-color: rgba($color-default-black, 0.8);
}

.modal-open {
  display: flex;
}

.modal__content {
  position: relative;
  background: #00b3ff;
  border-radius: 3px;
  max-width: 500px;
  padding: 35px 40px 41px;

  form {
    min-width: 220px;

    h2 {
      font-size: 30px;
      line-height: 140.62%;
      margin-bottom: 10px;
    }

    p {
      max-width: 400px;
      margin-bottom: 35px;
      font-size: 16px;
      line-height: 22px;
    }

    textarea {
      margin-bottom: 25px;
    }
  }

  & button:hover {
    fill: #041427;
  }
}

.modal__content button[type="button"] {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  background-color: #00b3ff;
  border: none;

  svg {
    margin: auto;
    fill: #ffffff;
  }

  &:hover {
    svg {
      fill: #041427;
    }
  }

  &:focus {
    border: none;
    outline: 2px solid #041427;
  }
}

.wrapper-check--modal button {
  margin-right: 0;
  margin-bottom: 12px;
  padding: 14px 10px;
}

button:focus {
  border: 2px solid #ffffff;
}
