
.body-lock {
  overflow-y: scroll;
  position: fixed;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: none;
  align-items: center;
  justify-content: center;

  background-color: rgba($color-default-black, 0.8);
}

.modal-open {
  display: flex;
}

.modal__content {
  position: relative;
  background: #00b3ff;
  border-radius: 3px;
  width: 500px;
  padding: 35px 40px;

  form {
    min-width: 420px;

    h2 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.modal__content button[type="button"] {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  background-color: #00b3ff;
  border: none;

  svg {
    margin: auto;
  }
}

.wrapper-check--modal button {
  margin-right: 0;
  margin-bottom: 20px;
  padding: 14px 10px;
}

button:focus {
  border: 2px solid #ffffff;
}
