.sections-list,
.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $vp-770) {
    padding: 0 25px 10px;
  }
}

.sections-list {
  display: flex;
  width: 470px;
  flex-wrap: wrap;

  @media (max-width: $vp-1280) {
    flex-direction: column;
    width: max-content;
  }
}

.sections-list__item {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.sections-list__item a {
  margin-bottom: 10px;

  @media (max-width: $vp-1024) {
    margin-bottom: 8px;
  }
}

.sections-list__item a,
.contacts-list__item a {
  font-family: $ff-ptmono;
  width: max-content;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);

  @media (max-width: $vp-770) {
    font-size: 14px;
  }

  &:hover {
    color: #00b2ff;
  }

  &:focus {
    border: none;
    outline: 2px solid #56c3b2;
  }

  &:active {
    opacity: 0.5;
  }
}
