.sentence-sale {
  min-height: 880px;
  background-image: url("../img/background-main.png");
  background-size: cover;
  background-position: 50%;
  position: relative;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .sentence-sale {
      background-image: url("../img/background-main@2x.png");
    }
  }

  @media (max-width: $vp-1024) {
    min-height: 640px;
    background-image: url("../img/background-main-tablet.png");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .sentence-sale {
        background-image: url("../img/background-main-tablet@2x.png");
      }
    }
  }

  @media (max-width: $vp-770) {
    min-height: 560px;
    background-image: url("../img/background-main-mobile.png");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .sentence-sale {
        background-image: url("../img/background-main-mobile@2x.png");
      }
    }
  }

  h1 {
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #f2f5f7;
    margin-bottom: 30px;
    margin-top: 0;

    @media (max-width: $vp-1024) {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 0;
    }

    @media (max-width: $vp-770) {
      margin-bottom: 8px;
      font-size: 36px;
      line-height: 42px;
    }
  }

  p {
    font-family: $ff-ptmono;
    font-size: 22px;
    line-height: 155%;
    color: #f2f5f7;
    width: 650px;
    margin-bottom: 43px;
    margin-top: 0;

    @media (max-width: $vp-1024) {
      margin-bottom: 57px;
    }

    @media (max-width: $vp-770) {
      width: 270px;
      font-size: 14px;
      margin-bottom: 43px;
    }
  }
}

.sentence-sale__wrapper-info {
  position: absolute;
  left: 25%;
  top: 35%;

  @media (max-width: $vp-1024) {
    top: 28%;
    left: 6.5%;
  }

  @media (max-width: $vp-770) {
    top: 27%;
    left: 8%;
  }
}

.sentence-sale__button {
  display: flex;
  justify-content: center;
  width: 410px;
  background: #00b2ff;
  border: none;
  padding: 18px 10px;

  @media (max-width: $vp-1024) {
    width: 410px;
    margin-left: 45px;
  }

  @media (max-width: $vp-770) {
    padding: 13px 25px;
    width: 270px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 0;
  }
}

.sentence-sale__button span {
  background: #00b2ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  @media (max-width: $vp-770) {
    font-size: 14px;
    line-height: 16px;
  }
}

.sentence-sale__button--desktop {
  display: block;

  @media (max-width: $vp-770) {
    display: none;
  }
}

.sentence-sale__button--mobile {
  display: none;
  width: 270px;

  @media (max-width: $vp-770) {
    display: block;
  }
}
