.social-list {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  column-gap: 25px;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;

  @media (max-width: $vp-1024) {
    margin-top: 10px;
  }

  @media (max-width: $vp-1024) {
    margin-left: 3px;
  }
}

.social-list__item a {
  display: flex;

  svg {
    fill: #f8fdff;
  }

  &:hover {
    svg {
      fill: #56c3b2;
    }
  }

  &:focus {
    border: none;
    outline: 2px solid #56c3b2;
  }

  &:active {
    opacity: 0.5;
  }
}
