.suggestions {
  background: #041827;
  padding: 66px 350px 112px;

  @media (max-width: $vp-1920) {
    padding: 70px 100px 110px;
  }

  @media (max-width: $vp-1024) {
    padding: 56px 50px 45px;
  }

  @media (max-width: $vp-770) {
    padding: 50px 25px 56px;
  }

  h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 53px;

    @media (max-width: $vp-1024) {
      margin-bottom: 36px;
    }

    @media (max-width: $vp-770) {
      font-size: 28px;
      line-height: 140.62%;
      margin-bottom: 26px;
    }
  }
}

.suggestions h2 > span:nth-child(1) {
  display: block;

  @media (max-width: $vp-770) {
    display: none;
  }
}

.suggestions h2 > span:nth-child(2) {
  display: none;
  width: 250px;

  @media (max-width: $vp-770) {
    display: block;
  }
}

.suggestions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 85px;
  row-gap: 30px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;

  @media (max-width: $vp-1920) {
    column-gap: 50px;
  }

  @media (max-width: $vp-1024) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 250px);
  }
}

.suggestions__item a {
  min-width: 100%;
  min-height: 650px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #00b2ff;
  padding: 50px 40px 60px;

  h3 {
    width: 160px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;

    @media (max-width: $vp-1024) {
      width: 150px;
    }

    @media (max-width: $vp-770) {
      width: 135px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #00b2ff;
    border-radius: 3px 0 0 0;
    background-image: url("../img/svg/arrow-suggestions.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (max-width: $vp-1024) {
    min-width: 670px;
    min-height: 250px;
    padding: 40px 45px;
  }

  @media (max-width: $vp-770) {
    min-width: 270px;
    min-height: 250px;
    padding: 25px 30px;

    &::after {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    border: none;
    outline: 1px solid #56c3b2;
  }

  &:active {
    opacity: 0.5;
  }
}

.suggestions__item--production a {
  background-image: url("../img/card-desktop-1.webp");
  backdrop-filter: opacity(20%);

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .suggestions__item--production a {
      background-image: url("../img/card-desktop-1@2x.webp");
    }
  }

  @media (max-width: $vp-1024) {
    background-image: url("../img/card-tablet-1.webp");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .suggestions__item--production a {
        background-image: url("../img/card-tablet-1@2x.webp");
      }
    }
  }

  @media (max-width: $vp-770) {
    background-image: url("../img/card-mobile-1.webp");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .suggestions__item--production a {
        background-image: url("../img/card-mobile-1@2x.webp");
      }
    }
  }
}

.suggestions__item--mounting a {
  background-image: url("../img/card-desktop-2.webp");
  backdrop-filter: opacity(20%);

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .suggestions__item--mounting a {
      background-image: url("../img/card-desktop-2@2x.webp");
    }
  }

  @media (max-width: $vp-1024) {
    background-image: url("../img/card-tablet-2.webp");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .suggestions__item--mounting a {
        background-image: url("../img/card-tablet-2@2x.webp");
      }
    }
  }

  @media (max-width: $vp-770) {
    background-image: url("../img/card-mobile-2.webp");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .suggestions__item--mounting a {
        background-image: url("../img/card-mobile-2@2x.webp");
      }
    }
  }
}

.suggestions__item--accessories a {
  background-image: url("../img/card-desktop-3.webp");
  backdrop-filter: opacity(20%);

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .suggestions__item--accessories a {
      background-image: url("../img/card-desktop-3@2x.webp");
    }
  }

  @media (max-width: $vp-1024) {
    background-image: url("../img/card-tablet-3.webp");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .suggestions__item--accessories a {
        background-image: url("../img/card-tablet-3@2x.webp");
      }
    }
  }

  @media (max-width: $vp-770) {
    background-image: url("../img/card-mobile-3.webp");

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      .suggestions__item--accessories a {
        background-image: url("../img/card-mobile-3@2x.webp");
      }
    }
  }
}
