.wrapper-check {
  display: flex;
  flex-wrap: wrap;

  label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    order: 1;
    width: 260px;
    padding-top: 15px;
    padding-left: 26px;

    span {
      font-family: $ff-ptmono;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
    }

    @media (max-width: $vp-1024) {
      padding-top: 6px;
    }

    @media (max-width: $vp-770) {
      padding-top: 16px;
      padding-left: 30px;
    }
  }

  @media (max-width: $vp-770) {
    flex-direction: column;
  }

  &--modal {
    flex-direction: column;

    label {
      width: 100%;
      padding-top: 8px;
      padding-left: 35px;

      input[type="checkbox"] + span {
        left: 9px;
      }
    }
  }
}

.wrapper-check button {
  min-width: 265px;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: #041427;
  border-radius: 3px;
  margin-right: 50px;
  margin-bottom: 5px;

  @media (max-width: $vp-1024) {
    margin-right: 85px;
  }

  @media (max-width: $vp-770) {
    margin-right: 0;
    margin-bottom: 8px;
  }

  &:focus {
    border: none;
    outline: 2px solid #ffffff;
  }

  &:active {
    background-color: #00b3ff;
  }
}
